.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(228, 213, 231);
}
.table_data{
    border: 1px solid rgb(212, 106, 106);
    width: 100px;
    height: 100px;
    text-align: center;
}
.ttt{
    background-image: linear-gradient( lightblue, rgb(202, 103, 153));
   
}
.playagain{
    background-color: rgb(75, 10, 81);
    color: white;
    border-radius:25px;
    box-shadow: 5px 5px lightgray;
    width: 150px;
    height: 40px;
}
.playagain:hover{
   transform:scale(1.5)
}
.header{
    background-image: linear-gradient(rgb(214, 64, 89),rgb(241, 186, 162));
}
.congrat{
    color: red;
}